name: Build and test

on:
  pull_request:
    types: [opened]
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        uses: borales/actions-yarn@v2.3.0

      - name: Run the tests and generate coverage report
        uses: borales/actions-yarn@v2.3.0
        with:
          cmd: test:coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1

      - name: Build
        uses: borales/actions-yarn@v2.3.0
        with:
          cmd: build
